<app-header></app-header>
<form #f="ngForm" (ngSubmit)="Submit(f)" class="leave">
    <div class="id">
        <mat-form-field>
            <mat-label>Company</mat-label>
            <mat-select  [(ngModel)]="model.company" name="company" required #company="ngModel" (selectionChange)="onCompanyChange($event.value)">
              <mat-option  *ngFor="let workplace of workplaces" [value]="workplace.workplace">
                {{ workplace.workplace }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addleave.submitted && company.invalid">
               <p> Company is required</p>
              </mat-error>
          </mat-form-field>
    </div>
    <div class="type">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="model.type" placeholder="Leave" name="type" required #type="ngModel">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addleave.submitted && type.invalid">
               <p>Type is Required</p>
              </mat-error>
          </mat-form-field>
    </div>
    <div class="notation">
    <mat-form-field class="notation-f">
      <textarea matInput placeholder="Notation" [(ngModel)]="model.notation" name="notation" #not required></textarea>
      <mat-error *ngIf="addleave.submitted && type.invalid">
          <p>The Notation </p>
         </mat-error>
     </mat-form-field>

       <mat-form-field >
        <textarea class="more-notes" matInput placeholder="More Notes" [(ngModel)]="model.sub_note" name="subNote"></textarea>
      </mat-form-field>
      </div>
    <div class="typer">
      <mat-form-field>
        <mat-label>Typer</mat-label>
        <mat-select [(ngModel)]="model.typer" name="typer" required>
          <mat-option *ngFor="let typer of typers" [value]="typer.value">
            {{typer.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addleave.submitted && type.invalid">
            <p> Type <strong>required</strong></p>
           </mat-error>
          </mat-form-field>
      </div>
      <mat-slide-toggle class="unpaid" [(ngModel)]="model.notes" name="notes">Unpaid Leave</mat-slide-toggle>

  <div class="sab">
      <button  class="btn btn-primary m-1" [ngClass]="btnSave ? 'clicked' : 'notClicked'" >Add Members</button>
  </div>
</form>
<div *ngIf="addM" class="subleave">
  <app-sub-leave [vNotation]="not.value" [vId]="vId"></app-sub-leave>
</div>

