<mat-spinner *ngIf="loading"></mat-spinner>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <textarea matInput id="info" placeholder="Enter Description" formControlName="info"></textarea>
  </mat-form-field>
  <div class="form-group flexit" >
    <label class="pd" for="ufile">File:</label>
    <input type="file" id="ufile" (change)="onFileChange($event)" #fileInput>
    <button type="button" mat-raised-button color="accent" (click)="clearFile()">clear file</button>
  </div>
    <div class="form-group hide">
      <label for="master_id">Master</label>
      <input type="text" class="form-control" id="master_id" placeholder="Master" formControlName="master_id">
    </div>
    <div class="form-group hide">
        <label for="created_by">Created_by</label>
        <input type="text" class="form-control" id="created_by" placeholder="created_by" formControlName="created_by">
      </div>
  <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Submit</button>
</form>
