<form #editnote="ngForm" (ngSubmit)="updateNote()">
    <mat-form-field class="text_a">
      <textarea [(ngModel)]="note.info" matInput placeholder="Edit Note" name="info"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" [disabled]="!editnote.dirty">
      Save Your Note
    </button>
    <input
      class="input hide"
      type="text"
      name="master_id"
      [(ngModel)]="note.master_id"
    />
    <input
      class="input hide"
      type="text"
      name="created_by"
      [(ngModel)]="note.created_by"
    />
  </form>
