mat-toolbar {
  background-color: steelblue;
  color: white;
  text-transform: uppercase;
}

mat-toolbar-row {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content 1fr;
}

.image {
  background-color: white;
  margin-right: 6px;
  border: solid black 1px;
}

span {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color:white;
}
a:hover {
  color: black;
}

.butright {
  display: grid;
  grid-template-columns: 1fr 1fr min-content min-content;
  grid-column-gap: 10px;
}

.auth {
  color: black;
  grid-column: 3;
  justify-content: end;
}

.logout {
  grid-column: 4;
  justify-content: end;
}





