<mat-toolbar>
  <mat-toolbar-row>
    <img
      class="image"
      src="../../assets/smalltr444.png"
      height="80%"
      width=""
    />
    <span><a routerLink="/">Home</a></span>
    <span><a routerLink="/search">Search</a></span>
    <span *ngIf="slevel === 1"><a routerLink="/leaves">Leaves</a></span>
    <div class="butright">
      <div *ngIf="isAuthenticated" class="auth"> HI {{name}} - L{{slevel}}</div>
      <button class="login" mat-raised-button color="primary" *ngIf="!isAuthenticated" (click)="login()">Login</button>
      <button class="logout" mat-raised-button color="warn" *ngIf="isAuthenticated" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<br>
