<app-header></app-header>
<form name="editleave" (ngSubmit)="editleave.valid && Submit(editleave)" #editleave="ngForm" novalidate>
  <div class="leave">
    <div class="id">
        <mat-form-field>
            <mat-label>Company</mat-label>
            <mat-select [(ngModel)]="leave.company" name="company" required #company="ngModel">
              <mat-option *ngFor="let workplace of workplaces" [value]="workplace.workplace">
                {{ workplace.workplace }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editleave.submitted && company.invalid">
               <p> Company is required</p>
              </mat-error>
          </mat-form-field>
    </div>
    <div class="type">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="leave.type" placeholder="Leave" name="type" required #type="ngModel">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="editleave.submitted && type.invalid">
               <p>Type is Required</p>
              </mat-error>
          </mat-form-field>
    </div>
    <div class="notation">
    <mat-form-field class="notation-f">
      <textarea matInput placeholder="Notation" [(ngModel)]="leave.notation" name="notation" #not required></textarea>
      <mat-error *ngIf="editleave.submitted && type.invalid">
          <p>The Notation </p>
         </mat-error>
     </mat-form-field>
     <textarea matInput placeholder="More Notes" [(ngModel)]="leave.sub_note" name="sub_note" ></textarea>
    </div>
    <div class="typer">
      <mat-form-field>
        <mat-label>Typer</mat-label>
        <mat-select [(ngModel)]="leave.typer" name="typer" required>
          <mat-option *ngFor="let typer of typers" [value]="typer.value">
            {{typer.viewValue}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="editleave.submitted && type.invalid">
            <p> Type <strong>required</strong></p>
           </mat-error>
       </mat-form-field>
      </div>
      <div class="sltoggle">
        <mat-slide-toggle class="unpaid" [(ngModel)]="leave.notes" name="notes">Unpaid Leave</mat-slide-toggle>
        </div>
  <div class="sab">
      <button  class="btn btn-primary m-1" >Save Changes</button>
      {{vId}}
  </div>
  </div>
</form>
<div class="subleave">
  <app-edit-sub-leave [vNotation]="not.value" [vId]="vId" [leave]="leave"></app-edit-sub-leave>
</div>
