.leave {
  display: grid;
  grid-template-columns: max-content max-content 2fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 5px;
  border: 4px solid navy;
  background-color: lightgrey;
  padding: 8px;
}

.notation {
  grid-row: 2;
  grid-column: 2 / span 2;

}

.notation-f {
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: bolder;
}

.notes {
  grid-column: 1 / span 2;
  grid-row: 2;

}
.more-notes {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.typer {
  grid-column: 3;
  grid-row: 1;
}
.clicked {
  visibility: hidden;
}

.notClicked {
  visibility: visible;
}

.sab {
  grid-row: 2;
  grid-column: 4;
  padding: 20px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  justify-content: center;
}

mat-slide-toggle {
  padding-left: 15px;
}

.sltoggle {
  grid-column: 4;
  grid-row: 1;
}
