<app-header></app-header>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="main" *ngIf="!isLoading">
  <h3>{{ member.first }} {{ member.last }} - {{ member.master }}</h3>
  <div class="comp">
    {{ member.company }} - {{ member.union_status }}
    <div class="status-date">Status Date: {{ member.status_date | date}}</div>
  </div>
  <div class="edit-button" *ngIf="slevel === 1">
    <button color="accent" mat-raised-button [routerLink]="['/member-edit/', member.master]">
      Edit Member Information
    </button>
  </div>
</div>
<div class="member-container">
  <div class="personal">
    <div class="t1">
      Personal Information
    </div>
    <div class="pinfo">
      <b>Master: </b>{{ member.master }}<b>CID</b> {{member.cid}}<br>
      <b>Name:</b> {{ member.first }} {{ member.last }}<br />
      <b>Address:</b> {{ member.address }}<br />
      <b>City:</b>{{ member.city }}, {{ member.prov }}<br />
      <b>Postal:</b>{{ member.postal }}<br />
      <br />
      <b>Email:</b><a href="mailto:{{ member.email }}">{{ member.email }}</a>
      <b>Phone:</b>{{ member.phone }}<br />
      <b>Cell:</b> {{ member.cell }}<br />
      <br>
      <b>SIN:</b> {{ member.sin }}<br />
      <b>DOB:</b> {{ member.dob | date }}<br />
      <br>
      <b>Magazines:</b> {{ member.magazines }}<br />
      <br />
      <mat-checkbox [ngModel]="member.mail" name="mail" labelPosition="before">
        <b>Mail: </b>
      </mat-checkbox>
      <mat-checkbox  [ngModel]="member.call_drop" name="call_drop" labelPosition="before">
        <b>Call Drop: </b>
      </mat-checkbox>
      <mat-checkbox  [ngModel]="member.lock_updates" name="lock_updates" labelPosition="before">
        <b>Lock Updates: </b>
      </mat-checkbox>
    </div>
  </div>
  <div class="work">
    <div class="t1">
      Work Information
    </div>
    <div class="winfo">
      <b>Company: </b>{{ member.company }}<br>
      <b>Dept: </b>{{ member.dept }}<br>
      <b>Shift: </b>{{ member.shift }}<br>
      <b>Job: </b>{{ member.job_title }}<br>
      <b>Hire Date:</b> {{ member.hire_date | date }}<br>
      <b>Initiation:</b> {{ member.initiation | date }}<br>
      <b>Withdraw:</b> {{ member.withdraw | date }}<br>
      <b>Company Status:</b> {{ member.company_status }}<br>
      <b>Rate:</b> {{ member.hrly | currency }}<br>
      <b>Union Status:</b> {{ member.union_status }}<br>
      <b>Status as of:</b> {{ member.status_date | date }}<br>
      <b>Retirement Date:</b> {{member.retirement_date | date}}<br>
      <b>Retirement Watch:</b> {{ member.watch | date }}<br>
      <mat-checkbox [ngModel]="member.pays" name="pays" labelPosition="before">
        <b>Pays Dues: </b>
      </mat-checkbox>
    </div>
  </div>
  <div class="death">
    <div class="t1">
      Death Information
    </div>
    <div class="dinfo">
      <b>Member Death Date:</b> {{ member.member_death_date | date }}<br />
      <b>Member Funeral Date:</b> {{ member.member_funeral_date | date}}<br />
      <b>Member Funeral Home:</b> {{ member.member_funeral_home }}<br />
      <b>Member Sent:</b> {{ member.member_sent }}
    </div>
  </div>
  <div class="spouse">
    <div class="t1">
      Spouse Information
    </div>
    <div class="sinfo">
      <b>Spouse Name:</b> {{ member.spouse_name }}<br />
      <b>Spouse Death Date:</b> {{ member.spouse_death_date | date }}<br />
      <b>Spouse Funeral Home:</b> {{ member.spouse_funeral_home }}<br />
      <b>Spouse Death Date:</b> {{ member.spouse_funeral_date | date }}<br />
      <b>Spouse Sent:</b> {{ member.spouse_sent }}<br />
    </div>
  </div>
  <div class="other-info">
    <mat-tab-group>
      <mat-tab label="Notes">
       <app-notes></app-notes>
      </mat-tab>
      <mat-tab label="Dues">
        <app-view-dues></app-view-dues>
      </mat-tab>
      <mat-tab label="Files">
        <app-file></app-file>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
