.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  background-color: lightseagreen;
  font-size: 20px;
  justify-content: center;
  padding-left: 15px;
}

.comp {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  padding: 5px;
}

.edit-button {
  padding: 20px;
  grid-row: 1;
  grid-column: 3;
  align-self: center;
  justify-self: end;
}

.member-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;
  border: 3px solid brown;
}

.personal {
  padding: 5px;
  padding-left: 15px;
  background-color: lightgreen;
}

.t1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.winfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 4px;
}

.pinfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 4px;
}

.work {
  grid-column: 2;
  grid-row: 1;
  padding: 5px;
  padding-left: 15px;
  background-color: lightblue;
}

.dinfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content auto;
  grid-column-gap: 4px;
}

.death {
  grid-column: 1;
  grid-row: 2;
  padding: 5px;
  padding-left: 15px;
  background-color: lightyellow;
}

.sinfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 4px;
}

.spouse {
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
  padding-left: 15px;
  background-color: lightcoral;
}

.other-info {
  border: solid brown;
  grid-column: 3;
  grid-row: 1 / span 2;
}
