<div [formGroup]="parts" class="example-tel-input-container">
  <input class="example-tel-input-element" formControlName="area" size="3" />
  <span class="example-tel-input-spacer">&ndash;</span>
  <input
    class="example-tel-input-element"
    formControlName="exchange"
    size="3"
  />
  <span class="example-tel-input-spacer">&ndash;</span>
  <input
    class="example-tel-input-element"
    formControlName="subscriber"
    size="4"
  />
</div>
