<div>
<form #editcompany="ngForm" (ngSubmit)="updateCompany()">
  <mat-form-field class="text_a">
    <input [(ngModel)]="workplace.workplace" matInput placeholder="Edit Workplace" name="workplace">
  </mat-form-field>
  <br>
  <mat-form-field class="text_a">
  <textarea [(ngModel)]="workplace.emails" matInput placeholder="Edit Emails" name="emails"></textarea>
</mat-form-field>
<br>
  <button mat-raised-button color="accent">
    Save Company
  </button>
</form>
</div>
