<div class="container-fluid">
  <div class="title">
    <h4 class="text-center mr"><b>UNIFOR LOCAL 444</b></h4>
    <div><button type="button" class="btn btn-secondary" (click)="backToLeaves()">Go Back</button></div>
  </div>
  <hr>
  <div class="sub-title">
   <div><h3 class="title-ab text-center">{{leave.type}} of Absence</h3>
    <h3 class="req text-center">REQUEST</h3>
  </div>
   <div class="date">
     {{leave.created_at | date}}
   </div>
  </div>
  <div class="company">
    {{leave.company}} - Human Resources
  </div>
  <hr>
  <div class="intro">
  <span>The Union is requesting that a leave of absence be granted to the following employee(s) for:</span>
  </div>
  <br>
  <div class="members">
    <div class="main-notation" *ngFor="let sub of leave.subleaves | groupBy:'notation' | pairs ">
      <p>{{sub[0]}}</p>
          <table class="table table-striped">
            <tr>
            <th>Name</th>
            <th>Master</th>
            <th>Department</th>
            </tr>
            <tr *ngFor="let val of sub[1]">
              <td>{{val.last}}, {{val.first}}</td>
              <td>{{val.master}}</td>
              <td>{{val.dept}}</td>
            </tr>
            </table>
      </div>
      <div class="footer">
          <div class="typer">{{leave.typer}}</div>
          <div *ngIf="(leave.company === 'CHRYSLER' && leave.notes === '1')" class="note">**Note: THIS IS AN UNPAID LEAVE<br>
           {{leave.sub_note}}</div>
          <div><button type="button" class="btn btn-secondary" (click)="sendEmails()">Send Email</button></div>
          </div>
  </div>
  </div>

