.sub-title {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.title-ab {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 117px;
  margin-top: -10px;
}

.date {
  font-weight: 700;
  justify-self: end;
}

.req {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 117px;
  margin-top: -3px;
  text-decoration: underline;
}

hr {
  height: 12px;
  background: black;
}

.company {
  text-transform: uppercase;
  font-weight: 700;
}

.intro {
  font-size: large;
}

.main-notation {
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

td {
  width: 100%;
}

.members {
  border: 1px solid black;
  padding: 10px;
}

.intro {
  background-color: #ddd;
  padding: 8px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bolder;
}

.note {
  border: 1px solid black;
  padding: 5px;
  justify-self: center;
  background-color: #ddd;
}

.title {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: center;
}

.mr {
  margin-left: 68px;
}
