<app-header></app-header>
<div>
    <div class="text-center"><h2>Add Member</h2></div>
  <form #f="ngForm" (ngSubmit)="addMember(f)" >
  <div class="member-container">
  <div class="personal">
    <div class="t1">
      Personal Information
    </div>
    <div class="pinfo">
        <mat-form-field>
          <input matInput placeholder="Master" [(ngModel)]="model.master" name="master" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="First" [(ngModel)]="model.first" name="first" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last" [(ngModel)]="model.last" name="last" />
        </mat-form-field>
        <br>
        <mat-form-field class="address">
          <input matInput placeholder="Address" [(ngModel)]="model.address" name="address" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="City" [(ngModel)]="model.city" name="city" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Prov" [(ngModel)]="model.prov" name="prov" />
        </mat-form-field>
        <br>
        <mat-form-field class="postal">
          <input matInput placeholder="Postal" [(ngModel)]="model.postal" name="postal" />
        </mat-form-field>
        <br />
        <mat-form-field class="phone">
          <input matInput placeholder="Phone" [(ngModel)]="model.phone" [textMask]="{ mask: mask }" name="phone" />
        </mat-form-field>
        <mat-form-field class="cell">
          <input matInput placeholder="Cell" [(ngModel)]="model.cell" [textMask]="{ mask: mask }" name="name" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="model.email" name="offemail" [pattern]="emailPattern" #offemail="ngModel" />
          <div *ngIf="offemail.errors">
            <mat-error *ngIf="offemail.errors.pattern">Email is invalid.</mat-error>
          </div>
        </mat-form-field>
        <br />
        <mat-checkbox [(ngModel)]="model.mail" name="mail" labelPosition="before">
          <b>Mail: </b>
        </mat-checkbox>
        <mat-checkbox style="margin-left: 10px;" [(ngModel)]="model.call_drop" name="call_drop" labelPosition="before">
          <b>Call Drop: </b>
        </mat-checkbox>
    </div>
  </div>
  <div class="work">
    <div class="t1">
      Work Information
    </div>
    <div class="winfo">
        <mat-form-field>
          <mat-label>Company</mat-label>
          <mat-select [(ngModel)]="model.company" name="company">
            <mat-option *ngFor="let workplace of workplaces" [value]="workplace.workplace">
              {{ workplace.workplace }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Dept" [(ngModel)]="model.dept" name="dept" />
        </mat-form-field>
        <br>
        <mat-form-field class="shift">
          <input matInput placeholder="Shift" [(ngModel)]="model.shift" name="shift" />
        </mat-form-field>
        <mat-form-field class="job">
          <input matInput placeholder="Job" [(ngModel)]="model.job_title" name="job_title" />
        </mat-form-field>
</div>
  </div>
  </div>
  <div class="save text-center">
      <button mat-raised-button color="primary">Save</button>
  </div>
  </form>
</div>
