.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  background-color: lightseagreen;
  font-size: 20px;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.comp {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  padding: 5px;
}

.edit-button {
  padding: 20px;
  grid-row: 1;
  grid-column: 3;
  align-self: center;
  justify-self: end;
}

.member-container {
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
  border: 3px solid brown;

}

.personal {
  padding: 5px;
  padding-left: 15px;
  background-color: lightgreen;
}

.t1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.winfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 4px;
}

.pinfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 4px;
}

.work {
  grid-column: 2;
  grid-row: 1;
  padding: 5px;
  padding-left: 15px;
  background-color: lightblue;
}

.dinfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content auto;
  grid-column-gap: 4px;
}

.death {
  grid-column: 1;
  grid-row: 2;
  padding: 5px;
  padding-left: 15px;
  background-color: lightyellow;
}

.sinfo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 4px;
}

.spouse {
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
  padding-left: 15px;
  background-color: lightcoral;
}

.other-info {
  border: solid brown;
  grid-column: 3;
  grid-row: 1 / span 2;
}

.address {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.phone {
  grid-row: 7;
  grid-column: 1;
}

.cell {
  grid-row: 7;
  grid-column: 2;
}

.postal {
  grid-row: 6;
  grid-column: 1;
}
.email {
  grid-row: 7;
  grid-column: 1 / span 2;
}

.pull-right {
  justify-items: end;
}
.address {
  grid-column: 1 / span 2;
}

.shift {
  grid-row: 2;
  grid-column: 1;
}

.job {
  grid-row: 2;
  grid-column: 2;
}

.withdraw {
  grid-row: 6;
  grid-column: 1;
}

.withdraw_date {
  grid-row: 6;
  grid-column: 2;
}

.status {
  grid-row: 7;
  grid-column: 1;
}

.status_date {
  grid-row: 9;
  grid-column: 1;
}

.mfhome {
  grid-row: 2;
  grid-column: 1;
}

.msent {
  grid-row: 2;
  grid-column: 2;
}

.sfhome {
  grid-row: 2;
  grid-column: 1;
}

.ssent {
  grid-row: 2;
  grid-column: 2;
}

.init {
  grid-row: 5;
  grid-column: 1;
}

.hide {
  visibility: hidden;
}

mat-spinner {
  margin: auto;
}

.watch {
  grid-row: 10;
  grid-column: 1;
}

.title {
  justify-self: center;
}

.save {
  padding: 10px;
}
