<div class="main">
<div class="push-right">
  <button mat-raised-button color="primary" (click)="showform()">
    Add Files
  </button>
</div>
<div *ngIf="!showFile">
<table class="table table-striped table-bordered">
  <tr *ngFor="let file of files">
    <td>{{ file.created_at | date: "shortDate" }}</td>
    <td>{{ file.info }}</td>
    <td><a href="{{file.file}}" target="_blank">Open File </a></td>
    <td>{{ file.created_by }}</td>
    <button *ngIf="file.created_by == name"
    (click)="onDelete(file.id)"
    mat-icon-button
    color="primary"
    alt="Delete"
  >
    <i class="material-icons icon-hover" title="Delete Employee Info"
      >delete</i
    >
  </button>
  </tr>
</table>
</div>
<app-file-upload *ngIf="showFile" [parmmaster]="parmmaster" [name]="name"></app-file-upload>
</div>
