<app-header></app-header>
<div class="add">
<button mat-raised-button color="accent" [routerLink]="['/new-leave']">
  New Leave
</button>
<button mat-raised-button color="primary" [routerLink]="['/view-companies']">
  Add Emails
</button>
</div>
<div class="table-space">
  <table
    *ngIf="this.leaves.length"
    class="table table-striped table-bordered"
    width="100%"
  >
    <tr>
      <th>#</th>
      <th>Created/Updated</th>
      <th>Company</th>
      <th>Type</th>
      <th>Notation</th>
      <th>Note</th>
      <th>Typer</th>
      <th>Actions</th>
    </tr>
    <tbody>
      <tr
        *ngFor="
          let leave of (leaves| paginate: { itemsPerPage: 10, currentPage: p, orderby: desc })
        "
      >
        <td>{{ leave.id }}</td>
        <td>{{ leave.updated_at | date }}</td>
        <td>{{ leave.company }}</td>
        <td>{{ leave.type }}</td>
        <td>{{ leave.notation }}</td>
        <td>{{ leave.notes }}</td>
        <td>{{ leave.typer }}</td>
        <td><button
          [routerLink]="['/leave-one/', leave.id]"
          mat-icon-button
          color="primary"
        >
          <i class="material-icons icon-hover" title="View Leave"
            >remove_red_eye</i
          >
        </button>
        <button
          [routerLink]="['/edit-leave/', leave.id]"
          mat-icon-button
          color="primary"
        >
          <i class="material-icons icon-hover" title="View Leave"
            >create</i
          >
        </button>
        <button
          (click)="onDelete(leave.id)"
          mat-icon-button
          color="primary"
          alt="delete"
        >
          <i class="material-icons icon-hover" title="Edit Employee Info"
            >delete</i
          >
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

  <pagination-controls
  *ngIf="this.leaves.length"
  (pageChange)="p = $event"
></pagination-controls>

