<app-header></app-header>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
<div class="main">
  <h3>{{ member.first }} {{ member.last }} - {{ member.master }}</h3>
  <div class="comp">
    {{ member.company }} - {{ member.union_status }}
    <div class="status-date">Status Date: {{ member.status_date | date }}</div>
  </div>
  <div class="edit-button">
    <button color="accent" mat-raised-button [routerLink]="['/member-view/', member.master]">
      Back to View
    </button>
  </div>
</div>
<form #f="ngForm" (ngSubmit)="updateMember(f)" >
<div class="member-container">
  <div class="personal">
    <div class="t1">
      Personal Information
    </div>
    <div class="pinfo">
        <mat-form-field>
          <input matInput placeholder="Master" [(ngModel)]="member.master" name="master" />
        </mat-form-field>
        <mat-form-field class="cid">
            <input matInput placeholder="CID" [(ngModel)]="member.cid" name="cid" />
          </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="SIN" [(ngModel)]="member.sin" [textMask]="{ mask: sinPattern }" name="sin" />
          </mat-form-field>
          <br>
        <mat-form-field>
          <input matInput placeholder="First" [(ngModel)]="member.first" name="first" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last" [(ngModel)]="member.last" name="last" />
        </mat-form-field>
        <br>
        <mat-form-field class="address">
          <input matInput placeholder="Address" [(ngModel)]="member.address" name="address" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="City" [(ngModel)]="member.city" name="city" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Prov" [(ngModel)]="member.prov" name="prov" />
        </mat-form-field>
        <br>
        <mat-form-field class="postal">
          <input matInput placeholder="Postal" [(ngModel)]="member.postal" name="postal" />
        </mat-form-field>
        <br />
        <mat-form-field class="phone">
          <input matInput placeholder="Phone" [(ngModel)]="member.phone" [textMask]="{ mask: mask }" name="phone" />
        </mat-form-field>
        <mat-form-field class="cell">
          <input matInput placeholder="Cell" [(ngModel)]="member.cell" [textMask]="{ mask: mask }" name="cell" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="dobpicker" placeholder="Birth Date" name="birth"
          [(ngModel)]="vdob.value">
          <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
          <mat-datepicker #dobpicker></mat-datepicker>
        </mat-form-field>
         <input class="hide" [(ngModel)]="member.dob" name="dob">
          <br>
        <mat-form-field appearance="outline" class="email">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="member.email" name="offemail" [pattern]="emailPattern" #offemail="ngModel" />
          <div *ngIf="offemail.errors">
            <mat-error *ngIf="offemail.errors.pattern">Email is invalid.</mat-error>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field class="mags">
          <mat-label>Magazines</mat-label>
          <select matNativeControl [(ngModel)]="member.magazines" value="{{member.magazines}}" name="magazines">
            <option>None</option>
            <option>Mail All</option>
            <option>Mail 444 News</option>
            <option>Mail Guardian</option>
            <option>Email All</option>
            <option>Email 444 News</option>
            <option>Email Guardian</option>
          </select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="member.mail" name="mail" labelPosition="before">
          <b>Mail: </b>
        </mat-checkbox>
        <mat-checkbox style="margin-left: 10px;" [(ngModel)]="member.call_drop" name="call_drop" labelPosition="before">
          <b>Call Drop: </b>
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="member.lock_updates" name="lock_updates" labelPosition="before">
          <b>Allow Updates: </b>
        </mat-checkbox>
    </div>
  </div>
  <div class="work">
    <div class="t1">
      Work Information
    </div>
    <div class="winfo">
        <mat-form-field>
          <mat-label>Company</mat-label>
          <mat-select [(ngModel)]="member.company" name="company">
            <mat-option *ngFor="let workplace of workplaces" [value]="workplace.workplace">
              {{ workplace.workplace }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Dept" [(ngModel)]="member.dept" name="dept" />
        </mat-form-field>
        <br>
        <mat-form-field class="shift">
          <input matInput placeholder="Shift" [(ngModel)]="member.shift" name="shift" />
        </mat-form-field>
        <mat-form-field class="job">
          <input matInput placeholder="Job" [(ngModel)]="member.job_title" name="job" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="hirepicker" placeholder="Hire Date" name="hired"
          [(ngModel)]="hireDate.value">
          <mat-datepicker-toggle matSuffix [for]="hirepicker"></mat-datepicker-toggle>
          <mat-datepicker #hirepicker></mat-datepicker>
        </mat-form-field>
         <input class="hide" [(ngModel)]="member.hire_date" name="hire_date">
        <mat-form-field class="init">
         <input matInput [matDatepicker]="initpicker" placeholder="Initiation" name="initiationd"
          [(ngModel)]="initiationDate.value">
          <mat-datepicker-toggle matSuffix [for]="initpicker"></mat-datepicker-toggle>
          <mat-datepicker #initpicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.initiation" name="initiation">
        <br>
        <mat-form-field class="withdraw">
          <input matInput [matDatepicker]="withdrawpicker" placeholder="Withdraw" name="withdrawd"
            [(ngModel)]="withdrawDate.value">
          <mat-datepicker-toggle matSuffix [for]="withdrawpicker"></mat-datepicker-toggle>
          <mat-datepicker #withdrawpicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.withdraw" name="withdraw">
        <br>
        <mat-form-field class="status">
          <mat-label>Union Status</mat-label>
          <mat-select [(ngModel)]="member.union_status" name="union_status">
            <mat-option *ngFor="let ustatus of ustatus" [value]="ustatus.status">
              {{ ustatus.status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="status_date">
          <input matInput [matDatepicker]="statusdatepicker" placeholder="Status Date" name="statusd"
            [(ngModel)]="statusDate.value" />
          <mat-datepicker-toggle matSuffix [for]="statusdatepicker"></mat-datepicker-toggle>
          <mat-datepicker #statusdatepicker></mat-datepicker>
        </mat-form-field>
        <input class=" " [(ngModel)]="member.status_date" name="status_date">
        <br>
        <mat-form-field class="">
          <input matInput [matDatepicker]="retdatepicker" placeholder="Retirement Date" name="retd"
            [(ngModel)]="retDate.value" />
          <mat-datepicker-toggle matSuffix [for]="retdatepicker"></mat-datepicker-toggle>
          <mat-datepicker #retdatepicker></mat-datepicker>
        </mat-form-field>
        <input class="" [(ngModel)]="member.retirement_date" name="retirement_date">
        <mat-form-field>
          <input class="watch" matInput [matDatepicker]="watchdatepicker" placeholder="Got Watch" name="watchd"
            [(ngModel)]="watchDate.value" />
          <mat-datepicker-toggle matSuffix [for]="watchdatepicker"></mat-datepicker-toggle>
          <mat-datepicker #watchdatepicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.watch" name="watch">
    </div>
  <mat-checkbox [(ngModel)]="member.pays" name="pays" labelPosition="before">
    <b>Pays Dues: </b>
  </mat-checkbox>
  </div>
  <div class="death">
    <div class="t1">
      Death Information
    </div>
    <div class="dinfo">
        <mat-form-field>
          <input matInput [matDatepicker]="memberdeathpicker" placeholder="Member Death Date" name="memberdeathd"
            [(ngModel)]="deathDate.value" />
          <mat-datepicker-toggle matSuffix [for]="memberdeathpicker"></mat-datepicker-toggle>
          <mat-datepicker #memberdeathpicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.member_death_date" name="member_death_date">
        <mat-form-field>
          <input matInput [matDatepicker]="memberfuneralpicker" placeholder="Member Funeral Date"
            name="memberfuneraldate" [(ngModel)]="mfDate.value" />
          <mat-datepicker-toggle matSuffix [for]="memberfuneralpicker"></mat-datepicker-toggle>
          <mat-datepicker #memberfuneralpicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.member_funeral_date" name="member_funeral_date">
        <mat-form-field class="mfhome">
          <mat-label>Funeral Home</mat-label>
          <mat-select [(ngModel)]="member.member_funeral_home" name="funeralhome">
            <mat-option *ngFor="let funeralhome of funeralhomes" [value]="funeralhome.name">
              {{ funeralhome.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="msent">
          <mat-label>Member Sent</mat-label>
          <select matNativeControl [(ngModel)]="member.member_sent" value="{{member.member_sent}}" name="membersent">
            <option>Catholic Bible</option>
            <option>Flowers</option>
            <option>Nothing Sent</option>
            <option>Protestant Bible</option>
          </select>
        </mat-form-field>
        <br>
    </div>
  </div>
  <div class="spouse">
    <div class="t1">
      Spouse Information
    </div>
    <div class="sinfo">
        <mat-form-field>
          <input matInput placeholder="Spouse Name" [(ngModel)]="member.spouse_name" name="spouse_name" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="spousedeathpicker" placeholder="Spouse Death Date" name="spousedeathd"
            [(ngModel)]="spouseDeath.value" />
          <mat-datepicker-toggle matSuffix [for]="spousedeathpicker"></mat-datepicker-toggle>
          <mat-datepicker #spousedeathpicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.spouse_death_date" name="spouse_death_date">
        <mat-form-field class="sfhome">
          <mat-label>Spouse Funeral Home</mat-label>
          <mat-select [(ngModel)]="member.spouse_funeral_home" name="spouse_funeral_home">
            <mat-option *ngFor="let funeralhome of funeralhomes" [value]="funeralhome.name">
              {{ funeralhome.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="spousefuneralpicker" placeholder="Spouse Funeral Date" name="spousefunerald"
            [(ngModel)]="spouseFuneral.value" />
          <mat-datepicker-toggle matSuffix [for]="spousefuneralpicker"></mat-datepicker-toggle>
          <mat-datepicker #spousefuneralpicker></mat-datepicker>
        </mat-form-field>
        <input class="hide" [(ngModel)]="member.spouse_funeral_date" name="spouse_funeral_date">
        <mat-form-field class="ssent">
          <mat-label>Spouse Sent</mat-label>
          <select matNativeControl [(ngModel)]="member.spouse_sent" value="{{member.spouse_sent}}" name="spousesent">
            <option>Catholic Bible</option>
            <option>Flowers</option>
            <option>Nothing Sent</option>
            <option>Protestant Bible</option>
          </select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Save</button>
    </div>
  </div>
  <div class="other-info">
    <mat-tab-group>
      <mat-tab label="Notes">
        <h1></h1>
        <!-- <app-notes></app-notes> -->
      </mat-tab>
      <mat-tab label="Files">
        <!-- <app-member-files></app-member-files> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</form>
</div>
