<div>
<form #editcompany="ngForm" (ngSubmit)="updateStatus()">
  <mat-form-field class="text_a">
    <input [(ngModel)]="status.status" matInput placeholder="Edit Status" name="status">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent">
    Save Status
  </button>
</form>
</div>
