.hide {
  visibility: hidden;
}

.text_a {
  width: 100%;
}

.formp {
  padding: 10px;
}

.push-right {
  display: flex;
  justify-content: flex-end;
}

.table {
  width: 100%;
  margin: 20px auto;
  table-layout: fixed;
}

.w {
  overflow: scroll;
  width: 70%;
}
