<div class="formp" *ngIf="!editing">
  <div class="push-right">
  <button mat-raised-button color="primary" (click)="showform()">Add Company
    </button>
    <button mat-raised-button color="accent" (click)="backToLeaves()">Back to Leaves
    </button>
</div>
<form *ngIf="shownote" #addCompany="ngForm" (ngSubmit)="Submit()">
    <mat-form-field class="text_a">
      <input [(ngModel)]="model.workplace" matInput placeholder="New Workplace" name="workplace">
    </mat-form-field>
    <br>
    <mat-form-field class="text_a">
      <textarea [(ngModel)]="model.emails" matInput placeholder="Emails" name="emails"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" [disabled]="!addCompany.dirty">
      Save New Company
    </button>
  </form>
</div>
<div>
<table class="table table-striped table-bordered" width="100%">
  <tr>
  <th>ID</th>
  <th>WORKPLACE</th>
  <th>EMAILS</th>
  <th>ACTIONS</th>
  </tr>
  <tr *ngFor="let workplace of workplaces">
    <td>{{ workplace.id }}</td>
    <td>{{ workplace.workplace }}</td>
    <td class="w">{{ workplace.emails }}</td>
    <td> <button
      [routerLink]="['/edit-company/', workplace.id]"
      mat-icon-button
      color="primary"
      alt="Edit"
    >
      <i class="material-icons icon-hover" title="Edit Employee Info"
        >edit</i
      >
    </button>
    <button
    mat-icon-button
    color="primary"
    alt="Delete"
    (click)="onDelete(workplace.id)"
  >
    <i class="material-icons icon-hover" title="Delete Employee Info"
      >delete</i
    >
  </button>

  </td>
  </tr>
</table>
</div>
