<app-header></app-header>
<form #f="ngForm" (ngSubmit)="updateDue(f)">
    <mat-form-field class="text_a">
      <input [(ngModel)]="due.year" matInput placeholder="year" name="year">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Dues Type</mat-label>
        <mat-select [(ngModel)]="due.type" name="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="startp" placeholder="Start date" name="startd" [(ngModel)]="startd.value">
          <mat-datepicker-toggle matSuffix [for]="startp"></mat-datepicker-toggle>
          <mat-datepicker #startp></mat-datepicker>
        </mat-form-field>
        <input class="" [(ngModel)]="due.start_date" name="start_date">
      <div class="fline2">
      <div>
          <mat-form-field>
              <input matInput [matDatepicker]="endp" placeholder="End date" name="endd" [(ngModel)]="endd.value">
              <mat-datepicker-toggle matSuffix [for]="endp"></mat-datepicker-toggle>
              <mat-datepicker #endp></mat-datepicker>
            </mat-form-field>
            <input class="" [(ngModel)]="due.end_date" name="end_date">
      </div>
      <div>
          <mat-form-field>
              <input matInput placeholder="Amount" name="amount" [(ngModel)]="due.amount">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
      </div>
      </div>
    <button class="bspace" mat-raised-button color="accent" [disabled]="!editdue.dirty">
      Save Due
    </button>
    <input
      class="input"
      type="text"
      name="master_id"
      [(ngModel)]="due.master_id"
    />
  </form>
