<div class="formp" *ngIf="!editing">
  <div class="push-right">
  <button mat-raised-button color="primary" (click)="showform()">Add Status
    </button>
</div>
<form *ngIf="shownote" #addStatus="ngForm" (ngSubmit)="Submit()">
    <mat-form-field class="text_a">
      <input [(ngModel)]="model.status" matInput placeholder="New Status" name="status">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" [disabled]="!addStatus.dirty">
      Save New Status
    </button>
  </form>
</div>
<table class="table table-striped table-bordered">
  <tr>
  <th>ID</th>
  <th>STATUS</th>
  <th>ACTIONS</th>
  </tr>
  <tr *ngFor="let stat of status">
    <td>{{ stat.id }}</td>
    <td>{{ stat.status }}</td>
    <td> <button
      [routerLink]="['/edit-status/', stat.id]"
      mat-icon-button
      color="primary"
      alt="Edit"
    >
      <i class="material-icons icon-hover" title="Edit Employee Info"
        >edit</i
      >
    </button>
    <button
    mat-icon-button
    color="primary"
    alt="Delete"
    (click)="onDelete(stat.id)"
  >
    <i class="material-icons icon-hover" title="Delete Employee Info"
      >delete</i
    >
  </button>

  </td>
  </tr>
</table>
