.hide {
  visibility: hidden;
}

.text_a {
  width: 100%;
}

.formp {
  padding: 10px;
}

.push-right {
  display: flex;
  justify-content: flex-end;
}

.table {
  padding: 10px;
}
