@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build//css/themes/bootstrap.min.css';

body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2 {
  text-align: center;
}

.input-group {
  display: flex;
  align-items: stretch;
}

.input-group-field {
  margin-right: 0;
}

.input-group .input-group-button {
  margin-left: 0;
  border: none;
}

.input-group .mat-flat-button {
  border-radius: 0;
}
