<app-header></app-header>
<div class="search-page">
  <form class="search1">
  <mat-form-field class="example-full-width">
      <input
        matInput
        (onkeyup.enter)="getKeyword()"
        placeholder="Name or Master"
        [(ngModel)]="keyword"
        name="keyword"
        autofocus
      />
    </mat-form-field>
  <div class="search">
    <button mat-raised-button color="primary" (click)="getKeyword()">
      Search
    </button>
    </div>
  <div class="add" *ngIf="slevel === 1">
    <button mat-raised-button color="accent" [routerLink]="['/member-add']">
      Add New Member
    </button>
  </div>
  </form>
  </div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="table-space">
<table
  *ngIf="this.members.length"
  class="table table-striped table-bordered"
  width="100%"
>
  <tr>
    <th>Master</th>
    <th>Last</th>
    <th>First</th>
    <th>Company</th>
    <th>Dept</th>
    <th>Status</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  <tbody>
    <tr
      *ngFor="
        let member of (members | paginate: { itemsPerPage: 10, currentPage: p })
      let i = index"
    >
      <td>{{ member.master }}</td>
      <td>{{ member.last }}</td>
      <td>{{ member.first }}</td>
      <td>{{ member.company }}</td>
      <td>{{ member.dept }}</td>
      <td>{{ member.union_status }}</td>
      <td>{{ member.status_date | date }}</td>
      <td>
        <button
          [routerLink]="['/member-view/', member.master]"
          mat-icon-button
          color="primary"
        >
          <i class="material-icons icon-hover" title="View Employee"
            >remove_red_eye</i
          >
        </button>
        <button *ngIf="slevel === 1"
          [routerLink]="['/member-edit/', member.master]"
          mat-icon-button
          color="primary"
          alt="Edit"
        >
          <i class="material-icons icon-hover" title="Edit Employee Info"
            >edit</i
          >
        </button>
        <button *ngIf="slevel === 1"
          (click)="onDelete(member.master)"
          mat-icon-button
          color="primary"
          alt="Edit"
        >
          <i class="material-icons icon-hover" title="Edit Employee Info"
            >delete</i
          >
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<pagination-controls
  *ngIf="this.members.length"
  (pageChange)="p = $event"
></pagination-controls>

