.search1 {
  display: flex;
  justify-content: center;
}

.search {
  padding-right: 10px;
}

.example-full-width {
  width: 75%;
  padding-right: 7px;
}

mat-spinner {
  margin: auto;
}

.grey-box {
  background-color: whitesmoke;
}

i:hover {
  color: red;
}

.table-space {
  padding-top: 30px;
}
