.vdues {
  padding: 10px;
}

.ff {
  display: flex;
  grid-gap: 3px;
  padding: 5px;
}

.fline2 {
  display: flex;
  grid-gap: 3px;
  padding: 5px;
}

.push-right {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.bspace {
  margin-left: 5px;
}

