<div class="push-right">
    <button *ngIf="slevel === 1" mat-raised-button color="primary" (click)="showform()">Add Dues
      </button>
</div>
      <form class="formf" *ngIf="shownote" #adddues="ngForm" (ngSubmit)="Submit(adddues)">
         <div class="ff">
        <div class="">
          <mat-form-field>
            <input matInput placeholder="Year" name="year" [(ngModel)]="model.year">
          </mat-form-field>
          </div>
        <div>
      <mat-form-field>
          <mat-label>Dues Type</mat-label>
          <mat-select [(ngModel)]="model.type" name="type">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
            <input matInput [matDatepicker]="startd" placeholder="Start date" name="start_date" [(ngModel)]="model.start_date">
            <mat-datepicker-toggle matSuffix [for]="startd"></mat-datepicker-toggle>
            <mat-datepicker #startd></mat-datepicker>
          </mat-form-field>
        </div>
        </div>
        <div class="fline2">
        <div>
            <mat-form-field>
                <input matInput [matDatepicker]="endd" placeholder="End date" name="end_date" [(ngModel)]="model.end_date">
                <mat-datepicker-toggle matSuffix [for]="endd"></mat-datepicker-toggle>
                <mat-datepicker #endd></mat-datepicker>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Amount" name="amount" [(ngModel)]="model.amount">
                <span matPrefix>$&nbsp;</span>
              </mat-form-field>
        </div>
        </div>
      <button class="bspace" mat-raised-button color="accent" [disabled]="!adddues.dirty">
        Save Dues
      </button>
      <input
        class="input hide"
        type="text"
        name="master_id"
        [(ngModel)]="model.master_id"
      />
    </form>
<div class="vdues">
<table class="table table-striped table-bordered">
  <tr *ngFor="let due of dues">
    <td>{{ due.year }}</td>
    <td>{{ due.type }}</td>
    <td>{{ due.start_date | date: 'shortDate' }}</td>
    <td>{{ due.end_date | date: 'shortDate' }}</td>
    <td>{{ due.amount | currency }}</td>
    <td> <button *ngIf="slevel === 1" [routerLink]="['/edit-due/', due.id]"
      mat-icon-button
      color="primary"
      alt="Edit"
    >
      <i class="material-icons icon-hover" title="Edit Employee Info"
        >edit</i
      >
    </button>
    <button *ngIf="slevel === 1"
    (click)="onDelete(due.id)"
    mat-icon-button
    color="primary"
    alt="Delete"
  >
    <i class="material-icons icon-hover" title="Delete Employee Info"
      >delete</i
    >
  </button>

  </td>
  </tr>
</table>
</div>

