.members {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}

.subleave {
  padding: 10px;
}

.example-form {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

table {
  border: 1px solid #ddd;
}

input[type=text]{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

button {
  margin-top: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 10px;
  padding: 10px;
}



