
<div class="subleave">
  <form class="example-form">
    <div>
      <mat-form-field class="example-full-width">
        <input
          placeholder="Enter a Master"
          (onkeyup.enter)="getKeyword()"
          [(ngModel)]="master"
          name="master"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="getKeyword()">
        Add Member
      </button>
    </div>
  </form>
  <br>
  <div class="peopleonleave" formArrayName="array">
    <table width="75%">
      <tr>
      <th>Leave #</th>
      <th>Master</th>
      <th>First</th>
      <th>Last</th>
      <th>Dept</th>
      <th>Notation</th>
      <th>Actions</th>
      </tr>
    <tr *ngFor="let lmember of array; let i = index">
      <td>{{ vId }}</td>
      <td>{{lmember.master}}</td>
      <td>{{lmember.first}}</td>
      <td>{{lmember.last}}</td>
      <td>{{lmember.dept}}</td>
      <td>{{lmember.notation}}</td>
      <td><button mat-icon-button color="primary" (click)="onRemove(master)">
        <mat-icon>delete</mat-icon>
      </button></td>
      </tr>
      </table>
      <div class="buttons">
        <button *ngIf="saveButton" mat-raised-button color="primary" (click)="Submit()">
        Save Leave
      </button>
      <button *ngIf="printButton" mat-raised-button color="primary" [routerLink]="['/leave-one/', vId]">
        Print Preview
        </button>
        <button *ngIf="editButton" mat-raised-button color="primary" [routerLink]="['/edit-leave/', vId]">
          Edit Saved Leave
          </button>
      </div>
  </div>
</div>
