<div class="formp" *ngIf="!editing">
  <div class="push-right">
  <button mat-raised-button color="primary" (click)="showform()">Add Note
    </button>
</div>
<form *ngIf="shownote" #addnote="ngForm" (ngSubmit)="Submit(addnote)">
    <mat-form-field class="text_a">
      <textarea [(ngModel)]="model.info" matInput placeholder="Enter a note" name="info"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" [disabled]="!addnote.dirty">
      Save Your Note
    </button>
    <input
      class="input hide"
      type="text"
      name="master_id"
      [(ngModel)]="model.master_id"
    />
    <input
      class="input hide"
      type="text"
      name="created_by"
      [(ngModel)]="model.created_by"
    />
  </form>
</div>
<div *ngIf="editing">
</div>
<div class="table">
  <table class="table table-striped table-bordered">
    <tr *ngFor="let note of notes">
      <td>{{ note.created_at | date: 'shortDate' }}</td>
      <td>{{ note.info }}</td>
      <td>{{ note.created_by }}</td>
      <td> <button *ngIf="note.created_by == name" [routerLink]="['/note-edit/', note.id]"
        mat-icon-button
        color="primary"
        alt="Edit"
      >
        <i class="material-icons icon-hover" title="Edit Employee Info"
          >edit</i
        >
      </button>
      <button *ngIf="note.created_by == name"
          (click)="onDelete(note.id)"
          mat-icon-button
          color="primary"
          alt="Delete"
        >
          <i class="material-icons icon-hover" title="Delete Employee Info"
            >delete</i
          >
        </button>
    </td>
    </tr>
  </table>
  </div>
  <div>
